body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button, select, html, textarea, input {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
    height: 100%;
    color: rgba(0, 0, 0, 0.87);
    background: white;
    position: relative;
}

html {
    display: block;
}


/* video section */
section.video{
  background-color: #a6d1c9;

  background-image: url("../images/back_video.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  //large screen
   @media screen and (min-width: $medium-small) {
    height: 568px;
   }

  //medium screeen
  @media screen and (max-width: $medium-small) {
     height: 674px;
   }





   .logo-sp-back
   {
     //large screen
      @media screen and (min-width: $medium-small) {
             width: 33%;
             float: left;
             position: relative;

             margin-top: 40px;
             margin-left: 179px;
      }

     text-align: center;

     //medium screeen
     @media screen and (max-width: $medium-small) {
        width: 100%;
      }

     img {
       //medium screeen
       @media screen and (max-width: $medium-small) {
          width: auto;
        }

        //large screen
         @media screen and (min-width: $medium-small) {
           width: auto;
         }
     } //img-logo

   } //logo-sp-back

   .about{
     width: 100%;
     color: white;
     font-size: 1.5rem;
     .text{
       //medium screeen
       @media screen and (max-width: $medium-small) {
          width: 87%;
          margin-left: 21px;
          margin-top: -32px;
          color: black;
          font-weight: 300;
        }

        //large screen
         @media screen and (min-width: $medium-small) {
           width: 79%;
         }

         button{
           @include btn_action(210px);
         }

        top: 47px;
        position: relative;
        text-align: justify;
     } //text

   } //about
} //video section

/* email section */
section.email {
  background-color: #53afa0;
  height: 450px;
  overflow: hidden;
  background-image: url("../images/email_back.png");
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  position: relative;
  top: -3px;

  .arrow-down {
    @include arrow_down(#91bab3);
  }

  .person-one{
    //medium screeen
    @media screen and (max-width: $medium-small) {
      display:none;
     }

    //large screen
    @media screen and (min-width: $medium-small) {
      display: inline-block;
      float: left;
      width: 20%;

    }

    background-image: url(../images/person_one.jpg);
    height: 61%;
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  .person-two {
    //medium screeen
    @media screen and (max-width: $medium-small) {
      display:none;
     }

    //large screen
    @media screen and (min-width: $medium-small) {
      display: inline-block;
      float: right;
      width: 20%;
    }




    background-image: url(../images/person_two.jpg);
    height: 71%;
    background-position: left bottom;
    background-repeat: no-repeat;
  }

  .center {
    //medium screeen
    @media screen and (max-width: $medium-small) {
      width: 100%;
      .text
      {
        padding: 21px;
      }
     }

    //large screen
    @media screen and (min-width: $medium-small) {
      width: 60%;
      .text
      {
        padding: 41px;
      }
    }

    .text
    {
      color: white;
    }

    display: inline-block;

    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;


    form {
      fieldset {
        border: none;
        margin: 0px;
        padding: 0;

      }
      //medium screeen
      @media screen and (max-width: $medium-small)
      {
        background-color: rgba(72, 153, 137, .5);
        width: 93%;
      }

      //large screen
      @media screen and (min-width: $medium-small) {
        background-color: #489989;
        width: 66%;
      }

      border-radius: 37px;

      height: 246px;
      text-align: center;
      margin: 0 auto;
      padding-top: 27px;

      label {
        color: white;
        font-size: 1.3rem;
        padding: 0px;
        margin-top: -7px;
        position: relative;
        display: block;
      }

      @include placeholder {
          color: #78bbaf;
          font-weight:100;
          font-size: 1.2rem;
          text-transform: uppercase;
          padding-left: 25px;
      } //placeholder

      button{
        @include btn_action(85%);
      }

      input {
        height: 45px;
        margin-bottom: 22px;
        width: 84%;
        border-radius: 44px;
        color: #78bbaf;
        font-weight:300;
        font-size: 1.2rem;
        border-color: transparent;
        padding-left: 25px;

      } //input
      input.ng-touched.ng-invalid {
        border-color: #dc373e;
        border-width: 2px;
        border-style: dotted;
      }


      .fa-check
      {
        @include round_icons(white, #0c3566, 4.5);
      }


    }//form
  }//center

} //email


/* social section */
.social {
  // //medium screeen
  // @media screen and (max-width: $medium-small){
  //   height: 1450px;
  // }
  //
  // //large screen
  // @media screen and (min-width: $medium-small) {
  //   height: 650px;
  // }
  height: auto;

  background-color: #dc373e;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom left;
  width: 100%;
  position: relative;
  top: -3px;

  .arrow-down {
    @include arrow_down(#53afa0);
  }


  .row {
    width: 100%;
    margin-bottom: 10px;

    .title
    {
      //medium screeen
      @media screen and (max-width: $medium-small)
      {
        width: 80%;
      }

      //large screen
      @media screen and (min-width: $medium-small) {
        width: 50%;
      }

      margin: 0 auto;
      position: relative;
      h2 {
        color: white;
        text-align: center;
      }
    } //title

    .socicons {
      //medium screeen
      @media screen and (max-width: $medium-small)
      {
        width: 80%;
        line-height: 100px;
      }

      //large screen
      @media screen and (min-width: $medium-small) {
        width: 40%;
      }

      width: 40%;
      margin: 0 auto;
      clear: both;
      text-align: center;
      border-top-color: #d03037;
      border-top-width: 6px;
      border-top-style: solid;
      padding-top: 23px;

      border-bottom-color: #d03037;
      border-bottom-width: 6px;
      border-bottom-style: solid;
      padding-bottom: 23px;

      i {
        @include round_icons(#dc373e, #f8d8d8);
        margin-left: 30px;
        &:hover {
          @include round_icons(#dc373e, white);
          @include box-shadow(1px, 1px, 15px, rgba(0, 0, 0, 0.5));

        }
      } //icons
    } //socicons

    .column
    {
      //medium screeen
      @media screen and (max-width: $medium-small){
        width: 100%;
        display: inline-block;
        background-image: url(../images/icon_pin.png);
        background-repeat: no-repeat;
        background-position: top;
      }

      //large screen
      @media screen and (min-width: $medium-small) {
        width: 33%;
        display: inline-block;
        &:hover {
          background-image: url(../images/icon_pin.png);
          background-repeat: no-repeat;
          background-position: top;
        }
      }




      .content {

        //medium screeen
        @media screen and (max-width: $medium-small)
        {
          margin: 34px;
          padding-top: 25px;
          padding-left: 25px;
          padding-right: 25px;
          padding-bottom: 25px;
          height: auto;
          overflow: hidden;
          color: white;
          font-size: 1.3rem;
          background-color: #b52a2a;
          @include box-shadow(1px, 1px, 15px, rgba(0, 0, 0, 0.5));


        }

        //large screen
        @media screen and (min-width: $medium-small) {
          margin: 50px;
          background-color: #d03037;
          padding-top: 25px;
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 25px;
          height: 339px;
          overflow: hidden;
          color: white;
          &:hover {
            background-color: #b52a2a;
            @include box-shadow(1px, 1px, 15px, rgba(0, 0, 0, 0.5));
          }

        }




        h3 {
          text-align: center;
          font-size: 1.4rem;
          font-weight: normal;
        }

        h5 {
          text-align: left;
          font-size: 1.1rem;
          font-weight: normal;
          margin: 0px;
          a {
            color: white;
          }
        }
        a {
          color: white;
        }


        p {
          text-align: left;
          font-size: 1.0rem;
          font-weight: normal;
          margin-top: 0px;
          margin-bottom: 3px;
          color: white;
          i {
            font-size: 0.7rem;
          }
        }


      }

    }


  }//row

} //social






/* footer section */
footer {
  background-color: #7E0017;
  height: auto;
  overflow: hidden;
  background-image: url("../images/appock_logo.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  width: 100%;
  top: -3px;
  position: relative;

  .arrow-down {
    @include arrow_down(rgb(220, 55, 62));
  }



  .text {
    color: white;
    margin: auto;
    padding: 50px;
    text-align: center;
    a {
      color: white;
      font-weight: bold;
    }

  }
}
