// _mixins
// ========
@mixin backImage($image) {
  background: url($image) no-repeat 60% 20% ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  @media (min-width: 801px) {
   height: 350px;
  }

  @media (max-width: 800px) {
   height: 150px;
  }

  @media (max-width: 300px) {
   height: 100px;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  ::-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  ::-ms-input-placeholder      {@content}
}


@mixin btn_action($width) {
  position: relative;
  cursor: pointer;
  display: block;
  background-color: #427197;
  border-color: transparent;
  color: white;
  border-radius: 23px;
  width: $width;
  font-size: 1.3rem;
  text-transform: uppercase;
  height: 44px;
  top: 14px;
  margin: 0 auto;
  &:hover {
    background-color: #0c3566;
  }
  &:disabled {
    background-color: gray;
    cursor: no-drop;
  }
}

@mixin arrow_down($color) {
  margin: auto;
  width: 0;
  height: 0;
  border-left: 34px solid transparent;
  border-right: 34px solid transparent;
  border-top: 18px solid $color;
  //border-top: 18px solid #53afa0;
}

@mixin round_icons($color, $backcolor, $font_size: 2.0)
{
  background-color: $backcolor;
  width: #{16.5*$font_size}px;
  height: #{16.5*$font_size}px;
  color: $color;
  padding: #{8 * $font_size}px;
  font-size: #{$font_size}rem;
  border-radius: #{25.5 * $font_size}px;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
