<section class="email">
  <div class="person-one"></div>
  <article class="center">
    <div class="arrow-down"></div>
    <div class="text">
      Se inscreva para saber as novidades
    </div>
    <form name="emailForm" id="emailForm" ng-submit="emailSave(emailForm)" novalidate>
      <fieldset ng-show="eml.send==false">
        <input type="text" name="nme"  ng-model="eml.nme" ng-required="true" placeholder="Nome"><br>
        <input type="email" name="email" ng-model="eml.email" ng-required="true" placeholder="Email">
      </fieldset>
      <label ng-show="message"><i class="fa fa-check"></i><br>
        <br>{{ message }}</label>
      <label class="error validationerror" ng-show="emailForm.nme.$invalid && emailForm.nme.$touched && eml.send==false">
      Informe o seu nome.</label>
      <label class="error validationerror" ng-show="emailForm.email.$invalid && emailForm.email.$touched && eml.send==false">
      Ops, seu email parece incorreto.</label>

      <button type="submit" ng-disabled="emailForm.$invalid"  ng-show="eml.send==false">Inscrever-se</button>
    </form>
  </article>
  <div class="person-two"></div>
</section>
