<section class="social">
  <div class="arrow-down"></div>

  <div class="row">
    <div class="title">
      <h2>Siga o SP Acessível nas redes sociais e saiba mais!</h2>
    </div>

    <div class="socicons">
      <a target="_blank" ng-href="{{social.facebook}}"><i class="fa fa-facebook"></i></a>
      <a  target="_blank" ng-href="{{social.instagram}}"><i class="fa fa-instagram"></i></a>
      <a target="_blank"  ng-href="{{social.youtube}}"><i class="fa fa-youtube"></i></a>
      <a target="_blank"  ng-href="{{social.twitter}}"><i class="fa fa-twitter"></i></a>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div class="content">
        <h3>Sobre nós</h3><div ng-bind-html="aboutUs  | to_trusted"></div>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h3>Blog</h3>

          <article ng-repeat="feed in feeds | limitTo: 3">
              <h5><a target="_blank" href="{{feed.link}}">{{feed.title}}</a></h5>
              <p><label ng-bind-html="feed.contentSnippet | viewBlog"></label> (..)
<a target="_blank" href="{{feed.link}}"><i class="fa fa-external-link"></i></a>
              </p><br>
          </article>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h3>Contato</h3>
        <div ng-bind-html="links | to_trusted"></div>
      </div>
    </div>
  </div>

</section>
