<section class="social">
  <div class="arrow-down"></div>

  <div class="row">
    <div class="title">
      <h2>Siga o SP Acessível nas redes sociais e saiba mais!</h2>
    </div>

    <div class="socicons">
      <a ng-href="{{social.facebook}}"><i class="fa fa-facebook"></i></a>
      <a ng-href="{{social.instagram}}"><i class="fa fa-instagram"></i></a>
      <a ng-href="{{social.youtube}}"><i class="fa fa-youtube"></i></a>
      <a ng-href="{{social.twitter}}"><i class="fa fa-twitter"></i></a>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div class="content">
        <h3>Sobre nós</h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum, enim dolor ex soluta dolores aspernatur suscipit, consequuntur sequi eius ut. Explicabo ea, dolorem rerum omnis eos quod reprehenderit deleniti?
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h3>Blog</h3>Fugit, ea, commodi. Reiciendis vitae earum fugiat, veritatis, laudantium perferendis saepe a natus tempora, facilis iste recusandae accusamus dignissimos tempore. Inventore velit ipsa ad eos voluptas harum fugiat eaque recusandae!
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h3>Links úteis</h3>Sunt nisi, ea laborum! Distinctio culpa commodi vitae at provident libero numquam, deleniti perferendis eligendi neque reprehenderit nulla qui, natus veniam quas ut quis dolore quisquam, doloremque minima quos. Rerum!        
      </div>
    </div>
  </div>

</section>
