<section class="social">
  <div class="arrow-down"></div>

  <div class="row">
    <div class="title">
      <h2>Siga o SP Acessível nas redes sociais e saiba mais!</h2>
    </div>

    <div class="socicons">
      <a ng-href="{{social.facebook}}"><i class="fa fa-facebook"></i></a>
      <a ng-href="{{social.instagram}}"><i class="fa fa-instagram"></i></a>
      <a ng-href="{{social.youtube}}"><i class="fa fa-youtube"></i></a>
      <a ng-href="{{social.twitter}}"><i class="fa fa-twitter"></i></a>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div class="content">
        <h3>Sobre nós</h3>{{aboutUs}}
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h3>Blog</h3>{{blog}}
      </div>
    </div>
    <div class="column">
      <div class="content">
        <h3>Links úteis</h3>{{links}}
      </div>
    </div>
  </div>

</section>
